*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    height: 100vmax;
    color: gray;
}

#contenedor{
    width: 80%;
    margin: 0 auto;
}

h2{
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 3vw;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}
form{
    margin-bottom: 2vw;
    margin-top: 2vw;
    text-align: center;
    color:gray;
    font-size: 1.5vw;
    font-weight: bold;

}

.caja1{
    color: black;
    font-weight:bold ;
    font-size: 1.5vw;
    width: 5%;
}

.caja2{
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    width: auto;
}

#boton{
    margin-top: 3vw;
    padding: 2vw;
    background-color: rgb(42, 137, 150);
    border-radius: 10px;
}
#boton:hover{
    margin-top: 3vw;
    padding: 2vw;
    background-color: rgb(22, 75, 82);
    border-radius: 10px;
}