*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-attachment:fixed ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vmax;
    color: rgb(255, 255, 255);
}

#contenedor{
    width: 80%;
    margin: 0 auto;
}

h2{
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: 3vw;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    background-color: hsla(0, 0%, 0%, 0.807);
}
form{
    margin-bottom: 2vw;
    margin-top: 2vw;
    text-align: center;
    color:rgb(0, 0, 0);
    font-size: 1.5vw;
    font-weight: bold;
    padding-left: 10%;
    padding-right: 10%;
}

.caja1{
    color: black;
    font-weight:bold ;
    font-size: 1.5vw;
    width: 10%;
}

.caja2{
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    width: auto;
}

#boton{
    margin-top: 3vw;
    padding: 1vw;
    background-color: rgb(84, 158, 70);
    border-radius: 10px;
}
#boton:hover{
    margin-top: 3vw;
    padding: 1vw;
    background-color: rgb(50, 107, 55);
    border-radius: 10px;
}